SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:postgresql://localhost:5432/anime_azerbaycan
DB_USERNAME=
DB_PASSWORD=
JWT_SIGNING_KEY=
JWT_TTL=PT24H
JIKAN_BASE_URL=https://api.jikan.moe/v4
CLIENT_ORIGIN=https://localhost:3000
